body{
background-image: url('/Users/lluisllc/Desktop/Game/IMG Marc/Fondos/Tile1B.jpg');
}

header{
display: flex;
text-align: center;
align-items: center;
justify-content: space-around;
font-family: Luminari, fantasy;
}

h1{
color: white;
font-size: 70px;
text-decoration: underline;
}

.spacing-total{
display:flex;
justify-content: space-around;
}

.spacing-orcs {
display: flex;
flex-direction: column;
flex-wrap: wrap;
align-items: flex-end;

}

.spacing-heros{
display: flex;
flex-direction: column;
flex-wrap: wrap;
align-items: flex-start;
}

.Orc {
height: 190px;
width: auto;
opacity: 0.2;
}       

.Hero {
display:flex;
flex-direction: column;
height: 190px;
width: auto;
}  

h3 {
color: white;
display:flex;
font-family: Palatino, URW Palladio L, serif;
font-size: 35px;
text-align: justify;
}